* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #f6f6ef;
}

/* The Orange Header Bar */
.hn-header {
  background-color: #d59b9b;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 10pt;
  color: #000000;
}

.title {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
}

.nav-links {
  display: flex;
  gap: 5px;
}

.nav-links a,
.user-info a {
  text-decoration: none;
  color: #000000;
}

.nav-links a:hover,
.user-info a:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 2px;
}

.user-info {
  margin-left: auto;
  padding-right: 5px;
}

.hn-footer {
  margin-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 8pt;
}

.footer-divider {
  border-top: 2px solid #d59b9b;
  margin: 10px auto;
  width: 100%;
}

.footer-links {
  margin: 15px 0;
  color: #828282;
}

.footer-links a {
  text-decoration: none;
  color: #000000;
}

.footer-links a:hover {
  text-decoration: underline;
}

.article-section {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

img {
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto;
}
.back-link {
  padding: 10px;
}

.headerlink {
  text-decoration: none;
  visibility: hidden;
  margin-left: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  font-family: sans-serif;
  table-layout: auto;
}

table th,
table td {
  border: 1px solid #dddddd;
  padding: 12px 15px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

pre {
  padding: 16px;
  overflow-x: auto;
  line-height: 1.45;
}

.blog-entry-link {
  list-style: none; /* Removes the bullets */
}
