importlib_metadata==8.7.1
linkify-it-py==2.0.3
Markdown==3.9
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
Pygments==2.19.2
pymdown-extensions==10.21
PyYAML==6.0.3
uc-micro-py==1.0.3
zipp==3.23.0
