<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Recommended meta for SEO and social sharing -->
    <meta name="description" content="A blog about stuff I find interesting" />
    <meta name="author" content="Liam Wittig" />

    <!-- Preload critical CSS for performance -->
    <link rel="preload" href="styles/main.css" as="style" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />

    {{prefetch}}
  </head>
  <body>
    {{header}}

    <main>
      <ul>
        {{links}}
      </ul>
    </main>

    {{footer}}
  </body>
</html>
